<form class="tabata__form">
  <mat-form-field color="accent">
    <input matInput placeholder="Tabatas">
  </mat-form-field>
  <mat-form-field color="accent">
    <input matInput placeholder="Rounds">
  </mat-form-field>
  <mat-form-field color="accent">
    <input type="time" matInput placeholder="Time on">
  </mat-form-field>
  <mat-form-field color="accent">
    <input type="time" matInput placeholder="Time off">
  </mat-form-field>
  <mat-form-field color="accent">
    <input type="time" matInput placeholder="Preparation time">
  </mat-form-field>
  <div class="total__time">
    <div class="label">Total workout time:</div>
    <div class="time">5:20</div>
  </div>
</form>
