//$primary: #fc4a19;
$primary: #f4511e;
$primary-light: #ff7f48;
$primary-dark: #c10000;

//$secondary: #4abdac;
$secondary: #4db6ac;
$secondary-light: #80f0de;
$secondary-dark: #008c7d;

$text-p: #fafafa;
$text-s: #dfdce3;

$black: #000000;
$white: #ffffff;
