@import "../../../styles/palette";

.nav {
  &__container {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-decoration: none;
    color: $white;
    line-height: 1;
    height: 100%;

    &_active, &:hover, &:focus {
      color: $black;
    }

    & /deep/ .mat-button-wrapper {
      display: block;
    }

    & /deep/ .mat-button-focus-overlay {
      display: none;
    }
  }
}
