<div class="nav__container">
  <a mat-button class="nav__item" [class.nav__item_active]="isActive('tabata')" (click)="changeState('tabata')">
    <mat-icon>timer</mat-icon>
    <div>Tabata</div>
  </a>
  <a mat-button class="nav__item" [class.nav__item_active]="isActive('custom')" (click)="changeState('custom')">
    <mat-icon>flash_on</mat-icon>
    <div>Custom</div>
  </a>
  <a mat-button class="nav__item" [class.nav__item_active]="isActive('settings')" (click)="changeState('settings')">
    <mat-icon>settings</mat-icon>
    <div>Settings</div>
  </a>
</div>
