@import "../../../styles/palette";

.nav {
  &__container {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-decoration: none;
    color: $white;

    &_active, &:hover, &:focus {
      color: $black;
    }
  }
}
